.tool-bar * {
    display: none;
}
.card {
    max-width: 90%;
    min-width: 40%;
    min-height: 70px;
    background-color: rgb(79, 173, 255);
    border-radius: 5px;
    margin-left: 5%; 
    padding: 20px;
}
.m-t-100 { 
    margin-top: 100px;
}
ion-content {
    width: 100%;
    height: 90vh;
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    position: relative; 
    padding-bottom: 60px !important;
}
.viewer {
    position: absolute;
    width: 80% !important; 
    margin-top: -25px;
}
.viewer_2 {
    position: absolute;
    width: 80% !important; 
    margin-top: 20px;
    margin-left: 20%;
}