<ion-content>
  <div style="display: flex;">
    <div>
      <img src="../../../assets/img/halo_1.png" alt="halo" width="100%">
    </div>
    <div>
      <img src="../../../assets/img/halo_1.png" alt="halo" width="100%">
    </div>
    <div>
      <img src="../../../assets/img/halo_1.png" alt="halo" width="100%">
    </div>
  </div>
  <hr>
  <div style="display: flex;">
    <div>
      <img src="../../../assets/img/halo_1.png" alt="halo" width="100%">
    </div>
    <div>
      <img src="../../../assets/img/halo_1.png" alt="halo" width="100%">
    </div>
    <div>
      <img src="../../../assets/img/halo_1.png" alt="halo" width="100%">
    </div>
  </div>
  <hr>
  <div style="display: flex;">
    <div>
      <img src="../../../assets/img/halo_1.png" alt="halo" width="100%">
    </div>
    <div>
      <img src="../../../assets/img/halo_1.png" alt="halo" width="100%">
    </div>
    <div>
      <img src="../../../assets/img/halo_1.png" alt="halo" width="100%">
    </div>
  </div>
</ion-content>