<div class="contentAuth">
  <h1 class="good"> 
    Pueblos
  </h1>
  <img class="google" src="../../../assets/img/loginGoogle.png" (click)="signInWithGoogle()" alt="login with google" style="cursor: pointer;"> 
  <hr>
  <ion-button (click)="closeAuth()">Continuar anónimo</ion-button>
  <small>En anónimo puedes explorar y acceder a varias funciones dentor del juego.</small>
</div>

  <img src="../../../assets/img/cloud_1.png" class="cloud1" alt="cloud1">
  <img src="../../../assets/img/cloud_2.png" class="cloud2" alt="cloud2">
  <img src="../../../assets/img/cloud_3.png" class="cloud3" alt="cloud3">