.profile-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 60%;
    position: fixed; 
    width: 100%;
  
    button {
      margin: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  
    .accessory-options {
      display: flex;
      justify-content: center;
      gap: 10px;
  
      button {
        padding: 8px 15px;
      }
    }
  }