swiper-container {
	height: 90vh; 
	background: url('../../../assets/img/pijaoBack.jpg');
	background-size: cover;
}
swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: #333;
	padding: 50px;
	font-size: 12px;
	opacity: 0.8;
}
swiper-slide span{
	display: none;
}
.swiper-slide-active {
	transform: scale(1.3);
	z-index: 2;
	padding: 0px;
	transition: transform 0.6s ease-in-out;
	font-size: 20px;
	opacity: 1; 
}
.swiper-slide-active span{
	display: block;
}
swiper-slide .infoMap {
	height: 0px;
	overflow: hidden;
} 
.showInfo .infoMap {
	height: 60vh !important;
	background-color: #ffffff; 
	margin-top: 5vh;
	width: 200%;
	margin-left: -50%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 10px;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
.contentInfo {
	width: 100%;
	float: left;
	height: 65%;
	margin-top: 3rem;
	padding: 20px;
}
